@use '../base/functions' as fun;
@use '../base/mixin' as mix;

.pagination{
    @include mix.flex;
    position: fixed;
    left: calc(50% - 50px);
    top: 27px;
    background-color: fun.color('primary');
    padding: 5px 10px;
    z-index: 9;
    border-radius: 0 0 5px 5px;
}