@use '../base/functions' as fun;

body{
    &::-webkit-scrollbar {
        -webkit-appearance: none;
    }
    
    &::-webkit-scrollbar:vertical {
        width:20px;
    }
    
    &::-webkit-scrollbar-button:increment,&::-webkit-scrollbar-button {
        display: none;
    } 
    
    &::-webkit-scrollbar:horizontal {
        height: 10px;
    }
    
    &::-webkit-scrollbar-thumb {
        background-color: fun.color('primary');
        border-radius: 20px;
        border: 5px solid fun.color('white');
    }
    
    &::-webkit-scrollbar-track {
        border-radius: 10px; 
    }

}